# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/
ENV/

# Vector DB (very important)
vectordb/
*.pdf

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Evaluation logs
evaluate/eval_results_*.jsonl